<div class="formation-content">
	<h4>Educación:</h4>
	<ul>
		<li>Estudiante de Computer Science - UNSA, Arequipa, Perú.</li>
	</ul>
	<hr />
	<h4>Certificaciones:</h4>
	<ul>
		<li>Fundamentals of Accelerated Data Science - NVIDIA DLI</li>
		<li>AWS Academy Graduate - AWS Academy Cloud Architecting</li>
		<li>Diseño UX/UI - Coderhouse</li>
	</ul>
</div>