<div class="formation-content">
	<h4>Educación:</h4>
	<ul>
		<li>Estudiante de Computer Science | UNSA, Arequipa, Perú.</li>
	</ul>
	<hr />
	<h4>Certificaciones:</h4>
	<ul>
		<li>NVidia</li>
		<li>AWS</li>
		<li>UI Designer</li>
	</ul>
</div>