<div class="aboutme-content">
	<div class="imgs" >
		<img src="https://avatars.githubusercontent.com/u/52789278?v=4" />
	</div>
	<hr />
	<p>
		Soy 35P10, -aspirante a- desarrollador de 23 años con interés en computación gráfica y  algoritmos. Cuando no estoy inmerso en líneas de código, me encontrarás escuchando Heavy Metal.
		<br /><br />
		El primer juego que recuerdo haber jugado fué Prince of Persia de 1989 en un computador con Windows 3.1. Desde ese momento, supe que queria dedicarme al desarrollo de videojuegos. Sin embargo, mi curiosidad y habilidades también abarcan el desarrollo web y desktop. Cada proyecto es una oportunidad para desafiarme a mí mismo y aprender algo nuevo.
	</p>
</div>