.aboutme-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;

	p {
		  flex: 1;
		  overflow-y:auto;
	  }
}

.imgs {
	display: block;
	height: 30%;

	img {
		height: 100%;
	}
}
