<div class="aboutme-content">
	<div class="imgs" >
        <img @onmouseover="ShowTooltip" @onmouseleave="HideTooltip" src="https://avatars.githubusercontent.com/u/52789278?v=4" />
        @if (showTooltip)
        {
            <div class="tooltip">
                No soy yo, pero te presento a Zoot, mi muppet favorito
            </div>
        }
	</div>
	<hr />
	<p>
		Soy 35P10, desarrollador de 23 años con interés en computación gráfica, IA y algoritmos. Cuando no estoy inmerso en líneas de código, me encontrarás escuchando Heavy Metal.
		<br /><br />
		Aunque mi experiencia laboral no es extensa, he estado inmerso en proyectos grupales y he liderado iniciativas personales que me han preparado para los desafíos venideros. Desde trabajar como desarrollador back-end hasta desarrollador de videojuegos, he forjado mi camino combinando tanto aprendizaje profesional como autodidacta.
	</p>
</div>

@code {
    private bool showTooltip = false;

    private void ShowTooltip()
    {
        showTooltip = true;
    }

    private void HideTooltip()
    {
        showTooltip = false;
    }
}