<div class="aboutme-content">
	<div class="imgs" >
		<img src="https://avatars.githubusercontent.com/u/52789278?v=4" />
	</div>
	<hr />
	<p>
		Soy 35P10, un -aspirante a- desarrollador de 23 años con interés en la computación gráfica y los algoritmos. Cuando no estoy inmerso en líneas de código, me encontrarás disfrutando de música pesada.
		<br /><br />
		El primer juego que recuerdo haber jugado fué Prince of Persia de 1989 en un computador con Windows 3.1. Desde ese momento, supe que mi destino estaba ligado al desarrollo de videojuegos.
	</p>
</div>