<h4>Frameworks and Libraries:</h4>
<ul>
	<li>.NET Core</li>
	<li>React</li>
</ul>
<h4>Languages:</h4>
<ul>
	<li>C++</li>
	<li>C#</li>
	<li>JavaScript</li>
</ul>
<h4>BD:</h4>
<ul>
	<li>SQL Server</li>
	<li>MySQL</li>
</ul>