<div class="techskills-content">
	<h4>Lenguajes de Programación:</h4>
	<ul>
		<li>C#</li>
		<li>C++</li>
		<li>JavaScript</li>
		<li>Python</li>
	</ul>
	<hr />
	<h4>Frameworks y Libraries:</h4>
	<ul>
		<li>.NET Core</li>
		<li>React</li>
		<li>OpenGL</li>
		<li>Unity</li>
	</ul>
	<hr />
	<h4>Bases de Datos:</h4>
	<ul>
		<li>SQL Server</li>
		<li>MongoDB</li>
		<li>MySQL</li>
	</ul>
	<hr />
	<h4>Herramientas y Plataformas:</h4>
	<ul>
		<li>Google Data Studio</li>
		<li>Google Cloud</li>
	</ul>
</div>