<button class="card">
    <img class="card-img-top" src="@ImageUrl" alt="@Title">
    <div class="card-body">
        <p>@Title</p>
    </div>
</button>


@code {
    [Parameter]
    public string ImageUrl { get; set; }

    [Parameter]
    public string Title { get; set; }
}