.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    margin: 0;
    width: 64px;
    gap: 4px;
    height: 100%;
}

.card-img-top {
    height: 32px;
}

.card-body {
    margin: 0;
    padding: 0;
    p
    {
        margin: 0;
        padding: 0;
    }
}
