/* /Components/Buttons/DesktopIcon.razor.rz.scp.css */
.card[b-s169uroeps] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    margin: 0;
    width: 64px;
    gap: 4px;
    height: 100%;
}

.card-img-top[b-s169uroeps] {
    height: 32px;
}

.card-body[b-s169uroeps] {
    margin: 0;
    padding: 0;
    p
    {
        margin: 0;
        padding: 0;
    }
}
/* /Components/Buttons/IconCardComponent.razor.rz.scp.css */
.card[b-2ncfq8fld3] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--sidebar-icon);
    color: #000000;
    font-size: 12px;
    font-style: normal;
    margin: 0;
    padding: 8px;
    width: 64px;
    gap: 0;
    height: 100%;
}

.card-img-top[b-2ncfq8fld3] {
    width: 32px;
    height: 32px;
}

.card-body[b-2ncfq8fld3] {
    margin: 0;
    padding: 0;

    p {
       margin: 0;
       padding: 0;
    }
}
/* /Components/Buttons/TechIcon.razor.rz.scp.css */
/* /Components/Buttons/ToolTipButton.razor.rz.scp.css */
.ToolTipButton-container[b-wset86bxa3] {
    display: block;
    width: contain;
    position: relative;
}
/* /Components/Windows/ExplorerWindow.razor.rz.scp.css */
.window[b-rihg3f5cz2] {
    width: 100%;
}
.explorer-window[b-rihg3f5cz2] {
    gap: 4px;
    padding: 8px;
    .tab-section {
    }
 
    .window-content[b-rihg3f5cz2] {
        padding: 28px 32px;
        position: relative;
        top: -2px;
        display: block;
        box-shadow: 0px -1px 0px 0px #000 inset, -1px 0px 0px 0px #000 inset, 1px 1px 0px 0px #FFF inset, 0px -2px 0px 0px #7B7D7B inset, -2px 0px 0px 0px #7B7D7B inset, 2px 2px 0px 0px #DEDFDE inset, 0px 0px 0px 3px #BDBEBD inset;
    }

}
.explorer-window-tabs[b-rihg3f5cz2] {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-size: 10px;
    .group-section, .tab-section {
        overflow-y:auto;
        height: 100px;
        background-color: var(--explorer-text-background);
        flex: 1;
        .explorer-option
        {
            font-size: var( --fontsize-normal);
            display: block;
            padding: 1px 8px;
        }
    }
}

.explorer-tab[b-rihg3f5cz2] {
    padding: 8px;
}

.explorer-window-content[b-rihg3f5cz2] {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (min-width: 1024px) {
    .window-content-section[b-rihg3f5cz2] {
        flex-direction: row;
    }
    .explorer-window-tabs[b-rihg3f5cz2] {
        flex-direction: column;
        width: 30%;
    }

    .explorer-window-content[b-rihg3f5cz2] {
        width: 70%;
    }
}
/* /Components/Windows/PromptWindow.razor.rz.scp.css */
.window-content-section[b-2v43c7tvrl] {
	color: var(--window-console-font);
	padding: 4px;
	background-color: var(--window-console);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: block;
	flex: 1;
}

.window[b-2v43c7tvrl] {
	display: flex;
	flex-direction: column;
}

/*
		para que sea un bloque oscuro, sin estilo de ventana
@media (min-width: 1024px) {
	.window-header {
		display: none;
	}

	.window {
		padding: 48px 128px;
		background-color: var(--window-console);
		border: none;
		box-shadow: none;
	}

	.window-content-section{
		font-size: 24px;
	}
}

@media (min-width: 1440px) {
	.window {
		padding: 64px 256px;
	}
}
*/

@media (min-width: 1024px) {
	.window[b-2v43c7tvrl] {
		margin: 24px 64px 0 64px;
		background-color: var(--window-console);
	}

	.window-content-section[b-2v43c7tvrl] {
		font-size: 20px;
	}
}

@media (min-width: 1440px) {
	.window[b-2v43c7tvrl] {
		margin: 24px 256px 0 256px;
	}
}
/* /Components/Windows/Tab/ExplorerContent.razor.rz.scp.css */
.content[b-lhrqbvxgoz] {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 8px;
    padding: 0;
    flex-direction: column;
    color: var(--font-color);
}

.content-content[b-lhrqbvxgoz] {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.content-left[b-lhrqbvxgoz] {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
}

.content-left-arrows[b-lhrqbvxgoz] {
    display: flex;
    flex-direction: row;

    button {
        flex: 1;
    }
}

.img[b-lhrqbvxgoz] {
    flex: 1;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--shadow-3);
}

.img-large[b-lhrqbvxgoz] {
   ;
}

.img-high[b-lhrqbvxgoz] {
    display: none;
}

.text[b-lhrqbvxgoz] {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    h4 {
        display: block;
        margin: 0;
    }

p[b-lhrqbvxgoz] {
    display: block;
    padding: 8px;
    overflow-y: auto;
    margin: 0;
    flex: 1;
    flex-basis: 0;
    background-color: var(--explorer-text-background);
    scrollbar-color: var(--shadow-3) var(--background-2);
}
}

.links[b-lhrqbvxgoz] {
    height: auto;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    hr {
           height: 100%;
       }
    a[b-lhrqbvxgoz]   {
        width: 32px;
        height: 32px;
        padding: 6px;
    }

    img[b-lhrqbvxgoz] {
        width: 100%;
        height: 100%;
    }
}

.tech-section[b-lhrqbvxgoz] {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    font-weight: 700;
}

.tech-icon[b-lhrqbvxgoz] {
    padding: 6px;
    width: 32px;
    height: 32px;
    background-color: var(--explorer-content-techicons-background);
    img {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1024px) {
    .content-content[b-lhrqbvxgoz] {
        flex-direction: row;
    }

    .content-left[b-lhrqbvxgoz] {
        width: 40%;
        height: 100%;
    }

    .img-large[b-lhrqbvxgoz] {
        display: none;
    }

    .img-high[b-lhrqbvxgoz] {
        display: block;
    }
}
/* /Components/Windows/Tab/MenuItem.razor.rz.scp.css */
.menu-item[b-to53up7jb8] {
	display: flex;
	align-items: center;
	padding: 0 8px;
	margin: 2px 0;
	background-color: var(--background-2);
	width: 100%;
	height: 24px;
	font-size: var(--fontsize-normal);
	gap: 8px;
	img {
		height: 75%;
		width: 16px;
	    }
	p[b-to53up7jb8] {
		margin: 0;
		padding: 0;
		flex: 1;
		align-self:center;
	}
}
/* /Components/Windows/Tab/MenuTab.razor.rz.scp.css */
.tech-group[b-79oobwopyq] {
    button {
        width: 100%;
        height: 100%;
    }

    .window-header[b-79oobwopyq] {
        padding: 2px 4px;
        font-size: var(--fontsize-small);
    }

    .window-header span[b-79oobwopyq] {
        margin-right: auto;
    }
}
/* /Components/Windows/Window.razor.rz.scp.css */
.tab-window[b-gqwbyu9i95] {
    padding: 6px;

    .tab-section {
        display: flex;
        align-items: end;
        button
        {
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 4px 4px 0 0;
            box-shadow: -1px 0px 0px 0px var(--shadow-1) inset, 1px 1px 0px 0px var(--shadow-5) inset, -2px 0px 0px 0px var(--shadow-2) inset, 2px 2px 0px 0px var(--shadow-4) inset;
        }
    }

    .window-content[b-gqwbyu9i95] {
        padding: 28px 32px;
        position: relative;
        top: -2px;
        display: block;
        box-shadow: 0px -1px 0px 0px var(--shadow-1) inset, -1px 0px 0px 0px var(--shadow-1) inset, 1px 1px 0px 0px var(--shadow-5) inset, 0px -2px 0px 0px var(--shadow-2) inset, -2px 0px 0px 0px var(--shadow-2) inset, 2px 2px 0px 0px var(--shadow-4) inset, 0px 0px 0px 3px var(--background-2) inset;
    }
}


.window-content[b-gqwbyu9i95] {
    height: 320px;
}

@media (min-width: 1024px) {
    .aboutme[b-gqwbyu9i95] {
        width: 65%;
    }
    .window-content[b-gqwbyu9i95] {
        height: 512px;
    }
}
/* /Layout/MainLayout.razor.rz.scp.css */
*[b-v5e7apnfn7] {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page[b-v5e7apnfn7] {
    min-height: 100vh;
    background: var(--background);
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-v5e7apnfn7] {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 8px;
    margin-bottom: 16px;
}

.sidebar[b-v5e7apnfn7] {
    background: var(--sidebar);
    display: flex;
    flex-direction: row;
    top: 0;
    position: sticky;
    z-index: 20;
}

.common-actions[b-v5e7apnfn7] {
    margin-left: auto;
    width: max-content;
    height: 86px;
    display: flex;
    justify-content: right;
    gap: 8px;
    padding: 8px;
}

.top-row[b-v5e7apnfn7] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-v5e7apnfn7]  a, .top-row[b-v5e7apnfn7]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-v5e7apnfn7]  a:hover, .top-row[b-v5e7apnfn7]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-v5e7apnfn7]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-v5e7apnfn7] {
        justify-content: space-between;
    }

    .top-row[b-v5e7apnfn7]  a, .top-row[b-v5e7apnfn7]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-v5e7apnfn7] {
        flex-direction: row;
    }

    .sidebar[b-v5e7apnfn7] {
        flex-direction: column;
        height: 100vh;
        width:80px;
        top: 0;
    }

    main[b-v5e7apnfn7] {
        width: calc(100% - 80px);
    }

    .common-actions[b-v5e7apnfn7] {
        margin-left: 0;
        margin-top: auto;
    }


    .top-row[b-v5e7apnfn7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-v5e7apnfn7]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-v5e7apnfn7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

@media (min-width: 1024px) {
    main[b-v5e7apnfn7] {
        padding: 0 0;
        gap: 32px;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar[b-spr4vqi75e] {
    width: max-content;
    height: 86px;
    display: flex;
    justify-content: left;
    gap: 8px;
    padding: 8px;
}

@media (min-width: 641px) {
    .navbar[b-spr4vqi75e] {
        height: max-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* /Pages/AboutMe/Formation.razor.rz.scp.css */
.formation-content[b-452et46uc6] {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-left: 14px;
	
	h4 {
		margin-bottom: 2px;
	}

	hr[b-452et46uc6] {
		margin: 4px 0;
	}
}
/* /Pages/AboutMe/Tab1Content.razor.rz.scp.css */
.aboutme-content[b-u4xzcetujf] {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;

	p {
		  flex: 1;
		  overflow-y:auto;
	  }
}

.imgs[b-u4xzcetujf] {
	display: block;
	position: relative;
	height: 30%;

	img {
		height: 100%;
	}
}
/* /Pages/ContactMe.razor.rz.scp.css */
.ContactMe[b-cbarxuofts] {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.globe-message[b-cbarxuofts] {
    display: block;
    width: 100%;
}

.globe[b-cbarxuofts] {
    top: -33.6px;
    margin-left: 60%;
    width: 0;
    height: 0;
    border-left: 0 0 solid transparent;
    border-right: 74px solid var(--contactme-backgroundglobe);
    border-top: 32px solid transparent;
    position: relative;
    box-shadow: 2.2px 2.2px 0px 0px var(--shadow-2), 3px 3px 0px 0px var(--shadow-1);
    transform-origin: 0 0;
    transform: rotate(23deg);
}

.message[b-cbarxuofts] {
    display: block;
    height: 5rem;
    width: 100%;
    background-color: var(--contactme-backgroundglobe);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--shadow-1);
    box-shadow: 0px 0px 0px 2px var(--shadow-2) inset;
    color: var(--contactme-font);
}

.helper[b-cbarxuofts] {
    display: block;
    background-image: url("https://25.media.tumblr.com/tumblr_la6w9ebIDw1qazdhko1_500.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 128px;
}

.links[b-cbarxuofts] {
    width: 70%;
    height: max-content;
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
    padding: 16px;
}

@media (min-width: 641px) {
    .globe[b-cbarxuofts] {
        margin-left: 70%;
    }

    .links[b-cbarxuofts] {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
    }
}

@media (min-width: 1024px) {
    .globe[b-cbarxuofts] {
        margin-left: 75%;
    }
}
/* /Pages/Home.razor.rz.scp.css */
.XD[b-h7l5vr7vof] {
    display: flex;
    flex-direction:column;
    gap: inherit;
}

@media (min-width: 1024px) {
    .XD[b-h7l5vr7vof] {
        padding: 0 64px;
        flex-direction:row;
        flex-wrap:wrap;
    }
}

@media (min-width: 1440px) {
    .XD[b-h7l5vr7vof] {
        padding: 0 256px;
    }
}
/* /Pages/MainProjects.razor.rz.scp.css */
.mainProjects[b-nep7yisjc7] {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 512px;
    margin: 16px 0;
    gap: 8px;
}

.title[b-nep7yisjc7] {
    display: block;
    width: 100%;

    h2 {
           font-size: 24px;
       }

    p[b-nep7yisjc7] {
        font-size: 14px;
    }
}

.mainProjects-content[b-nep7yisjc7] {
    flex: 1;
    width: inherit;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 8px;
    padding-bottom: 8px;
    scroll-snap-type: x mandatory;
    scrollbar-color: var(--accent-color) var(--background-2);
}

.content-item[b-nep7yisjc7] {
    scroll-snap-align: center;
    display: block;
    height: 100%;
    min-width: 100%;
    padding: 8px;
    width: 300px;
}

@media (min-width: 1024px) {
    .mainProjects[b-nep7yisjc7] {
        gap: 32px;
        height: auto;
    }

    .mainProjects-content[b-nep7yisjc7] {
        gap: 16px;
        justify-content:left;
        flex-wrap: wrap;
        overflow-x: unset;
        overflow-y: unset;
        height: contain;
    }



    .title[b-nep7yisjc7] {
        h2
        {
            font-size: 400%;
        }

        p[b-nep7yisjc7] {
            font-size: 24px;
        }

        }

.content-item[b-nep7yisjc7] {
    height: 300px;
    flex: 1;
    width: auto;
    min-width: 400px;
}
}
/* /Pages/TechSkills.razor.rz.scp.css */
.tech-window[b-y6izakqg01] {
    background-color: var(--skill-text-background);
}

.tech-window-header[b-y6izakqg01] {
    background-color: var(--shadow-3);
    color: var(--font-color-negative-2);
    padding: 8px 4px;
    span
        {
        color: var(--font-color-negative);
            font-weight: 700;
        }
    h3[b-y6izakqg01] {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .window[b-y6izakqg01] {
        width: 100%;
    }
    .tech-window[b-y6izakqg01] {
        display: flex;
        flex: 1;
    }

    .tech-window-header[b-y6izakqg01] {
        writing-mode: vertical-rl;
        transform: scale(-1);
        padding: 8px 12px;
    }

    .tech-list[b-y6izakqg01] {
        display: block;
        flex: 1;
    }
}
