@if (enable == true)
{
	<div class="stick" style="width: @getSizePX(_Width); height:@getSizePX(_Length); left:@getSizePX(StartX); top:@getSizePX(StartY); z-index:@ZIndex; background-color:@Color ;" @onclick=InvokeOnClick>
	</div>
}

@code {
	[Parameter]
	public int Length { get; set; } = 0;
	[Parameter]
	public int Width { get; set; } = 0;
	[Parameter]
	public int StartY { get; set; } = 0;
	[Parameter]
	public int StartX { get; set; } = 0;
	[Parameter] // horizantal = true ; false = vertical
	public bool Orientation { get; set; } = true;
	[Parameter]
	public int ZIndex { get; set; } = 0;
	[Parameter]
	public String Color { get; set; } = "#FFF";
	[Parameter]
	public EventCallback HandleOverlapping { get; set; }

	public int _Length { get; set; }
	public int _Width { get; set; }
	public int Bottom { get; set; }
	public int Top { get; set; }
	public int Left { get; set; }
	public int Right { get; set; }
	public bool enable { get; set; } = true;

	protected override void OnInitialized()
	{
		updatePosition();
	}

	public bool IsOverlapping(Stick other)
	{
		bool overlapX = this.Left < other.Right && this.Right > other.Left;
		bool overlapY = this.Bottom < other.Top && this.Top > other.Bottom;

		return overlapX && overlapY;
	}

	private string getSizePX(int x)
	{
		return x.ToString() + "px";
	}

	public void updatePosition()
	{
		_Width = Width;
		_Length = Length;
		if (Orientation == false)
		{
			int temp = _Length;
			_Length = Width;
			_Width = temp;
		};
		Bottom = StartY;
		Top = Bottom + _Length;
		Left = StartX;
		Right = Left + _Width;
	}

	private async Task InvokeOnClick()
	{
		await HandleOverlapping.InvokeAsync();
	}
}
