.ContactMe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.globe-message {
    display: block;
    width: 100%;
}

.globe {
    top: -33.6px;
    margin-left: 60%;
    width: 0;
    height: 0;
    border-left: 0 0 solid transparent;
    border-right: 74px solid #FF0;
    border-top: 32px solid transparent;
    position: relative;
    box-shadow: 2.2px 2.2px 0px 0px #7B7D7B, 3px 3px 0px 0px #000;
    transform-origin: 0 0;
    transform: rotate(23deg);
}

.message {
    display: block;
    height: 5rem;
    width: 100%;
    background-color: #FFFF00;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #000;
    box-shadow: 0px 0px 0px 2px #7B7D7B inset;
}

.helper {
    display: block;
    background-image: url("https://25.media.tumblr.com/tumblr_la6w9ebIDw1qazdhko1_500.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 128px;
}

.links {
    width: 70%;
    height: max-content;
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
    padding: 16px;
}

@media (min-width: 641px) {
    .globe {
        margin-left: 70%;
    }

    .links {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
    }
}

@media (min-width: 1024px) {
    .globe {
        margin-left: 75%;
    }
}