@using MyPortfolio.Components.Buttons;



<div class="ContactMe">
	<div class="globe-message">
		<div class="message">Puedes comunicarte conmigo con los links a continuación</div>
		<div class="globe"></div>
	</div>
	<div class="links">
		<DesktopIcon ImageUrl="https://win98icons.alexmeub.com/icons/png/outlook_express-5.png" Title="My Email" />

	<DesktopIcon ImageUrl="https://logos-world.net/wp-content/uploads/2020/12/Discord-Logo.png" Title="My Discord" />

	<DesktopIcon ImageUrl="https://pngimg.com/uploads/github/github_PNG27.png" Title="My GitHub" />
	</div>
	<div class="helper"></div>
</div>


@code {

}
