@using MyPortfolio.Components.Buttons;
@inject IJSRuntime JSRuntime;
@using MyPortfolio.Services;
@inject ResourcesService SRCRepo;

<div id="contactme"  class="ContactMe">
	<div class="globe-message">
		<div class="message">Puedes comunicarte conmigo con los links a continuación.
			@if (customMsg != "")
			{
				<br />
				<span style="font-weight: 700;">@customMsg</span>
			} 

		</div>
		<div class="globe"></div>
	</div>
	<div class="links">

	<DesktopIcon ImageUrl="https://win98icons.alexmeub.com/icons/png/outlook_express-5.png" Title="My Email" OnClick="()=>CopyToClipboard(myEmail,customMsg1)" />

		<DesktopIcon ImageUrl=@SRCRepo.getIconSrc("discord") Title="My Discord" OnClick="()=>CopyToClipboard(myDiscord,customMsg2)" />

	</div>
	<div class="helper"></div>
</div>


@code {
	private string myEmail { get; set; } = "villanueva.guerrero@outlook.com";
	private string myDiscord { get; set; } = "k35qp10";
	private string customMsg { get; set; } = "";
	private string customMsg1 { get; set; } = "Mi Email se copió a tu portapapeles. ^-^!";
	private string customMsg2 { get; set; } = "Mi usuario de Discord se copió a tu portapapeles. 0_0";
	private int click { get; set; } = 0;

	private async Task CopyToClipboard(string textToCopy, string myMsg)
	{
		int myId = ++click;
		await JSRuntime.InvokeVoidAsync("copyToClipboard", textToCopy);

		customMsg = myMsg;

		StateHasChanged();
		await Task.Delay(5000);
		if (myId == click)
		{
			customMsg = "";
			StateHasChanged();
		}
	}
}
