@page "/"
@using MyPortfolio.Components.Windows;
@using MyPortfolio.Components.Windows.Tab
@using MyPortfolio.Pages.AboutMe;
@using MyPortfolio.Pages.Projects;

<PromptWindow Title="Command Prompt">
	mensaje de bienvenida:  ¡Gracias por tomarte el tiempo de conocerme! Estoy emocionado por compartir mi trabajo contigo y espero que disfrutes explorando mi portafolio tanto como yo disfruté creándolo. Si tienes alguna pregunta o estás interesado en colaborar en futuros proyectos, no dudes en ponerte en contacto conmigo. ¡Vamos a crear algo increíble juntos!<br />
	-----------------------------------<br />
	C:\Windows\User\35P10 > cat welcome.txt <br />
	////////////////// <br />
	Soy <h1>35P10</h1>
	Desarrollador FullStack <br />
	y de Videojuegos <br />
	////////////////// <br />
	<br />
	>
</PromptWindow>

<Window Title="System Information" Height="340px">
	<TabPage Text="Sobre mi">
		<Tab1Content />
	</TabPage>
	<TabPage Text="Tech Skills">
		<Tab2Content />
	</TabPage>
	<TabPage Text="Formación">
		<Formation />
	</TabPage>
</Window>

<ExplorerWindow Title="Projects">
	<ExplorerTab Group="Graphics" Title="My VideoGame">
		<Graphics />
	</ExplorerTab>
	<ExplorerTab Group="WebApps" Title="My WebApp">
		<WebApps />
	</ExplorerTab>
	<ExplorerTab Group="Other" Title="My console app">
		<Other />
	</ExplorerTab>
</ExplorerWindow>
