@page "/"
@using MyPortfolio.Components.Windows;
@using MyPortfolio.Components.Windows.Tab
@using MyPortfolio.Pages.AboutMe;
@using MyPortfolio.Pages.Projects;

<Welcome OnComplete="UpdateComponent" @ref="welcomee" />


<div class="XD">
	<MainProjects />

	<Window Id="aboutme" Title="System Information" WindowClass="aboutme" Height="340px">
		<TabPage Text="Sobre mi">
			<Tab1Content />
		</TabPage>
		<TabPage Text="Formación">
			<Formation />
		</TabPage>
	</Window>

	<TechSkills />

	<ExplorerWindow Id="myprojects" Title="Projects">
		<ExplorerTab Group="Apps" Title="Servicio de Streaming de Video">
			<VideoStreaming />
		</ExplorerTab>
		<ExplorerTab Group="Apps" Title="TASTI">
			<Proximamente />
		</ExplorerTab>
		<ExplorerTab Group="Apps" Title="Compilador Online">
			<OnlineCompiler />
		</ExplorerTab>
		<ExplorerTab Group="Graphics" Title="AppAR-CityModels">
			<Graphics />
		</ExplorerTab>
		<ExplorerTab Group="Graphics" Title="Minijuego">
			<Juego_Minigame1 />
		</ExplorerTab>
		<ExplorerTab Group="Graphics" Title="Snake usando Patrones de Diseño">
			<Proximamente />
		</ExplorerTab>
		<ExplorerTab Group="Graphics" Title="Rubik Cube">
			<Proximamente />
		</ExplorerTab>
		<ExplorerTab Group="Graphics" Title="Bomberman">
			<Proximamente />
		</ExplorerTab>
		<ExplorerTab Group="Graphics" Title="JuegoVR - Piloting">
			<Proximamente />
		</ExplorerTab>
		<ExplorerTab Group="Other" Title="Detección de Muppets usando YOLOv7">
			<Other />
		</ExplorerTab>
		<ExplorerTab Group="Other" Title="Early Parser">
			<Proximamente />
		</ExplorerTab>

	</ExplorerWindow>

	<ContactMe />
</div>


@code {
	private Welcome? welcomee;

	private async Task UpdateComponent()
	{
		StateHasChanged();
	}
}