@using MyPortfolio.Pages.Projects

<div id="mymainprojects" class="mainProjects">
	<div class="title">
		<h2 
			style="color: var(--window-header);">Proyectos Destacados</h2>
		<p style="color: var(--window-console-font);">Una muestra de mis habilidades y creatividad en acción.</p>

	</div>
	<div class="mainProjects-content">
		<div class="content-item box-shadow">
			<Groovy />
		</div>
		<div class="content-item box-shadow">
			<OnlineCompiler />
		</div>
		<div class="content-item box-shadow">
			<VideoStreaming />
		</div>
		<div class="content-item box-shadow">
			<Graphics />
		</div>
	</div>
</div>