@using MyPortfolio.Components.Windows.Tab

<div class="window tech-window">
	<div class="tech-window-header">
		<h3><span>Tech</span>Skills</h3>
	</div>

	<div>
		<div class="tech-group box-shadow">
			<h4 class="window-header"><span>FrontEnd</span> ♪</h4>
			<MenuItem techIcon="blazor" Title="Testo" />
			<hr />
				<MenuItem techIcon="blazor" Title="Testo" />
			<hr />
				<MenuItem techIcon="blazor" Title="Testo" />
		</div>
				<div class="tech-group box-shadow">
			<h4 class="window-header"><span>FrontEnd</span> ♪</h4>
			<MenuItem techIcon="blazor" Title="Testo" />
			<hr />
				<MenuItem techIcon="blazor" Title="Testo" />
			<hr />
				<MenuItem techIcon="blazor" Title="Testo" />
		</div>
				<div class="tech-group box-shadow">
			<h4 class="window-header"><span>FrontEnd</span> ♪</h4>
			<MenuItem techIcon="blazor" Title="Testo" />
			<hr />
				<MenuItem techIcon="blazor" Title="Testo" />
			<hr />
				<MenuItem techIcon="blazor" Title="Testo" />
		</div>
				<div class="tech-group box-shadow">
			<h4 class="window-header"><span>FrontEnd</span> ♪</h4>
			<MenuItem techIcon="blazor" Title="Testo" />
			<hr />
				<MenuItem techIcon="blazor" Title="Testo" />
			<hr />
				<MenuItem techIcon="blazor" Title="Testo" />
		</div>
	</div>
</div>
@code {

}
