.tech-window-header {
    background-color: #808080;
        color: #C0C0C0;
    padding: 8px 4px;
    span
        {
        color: #FFFFFF;
            font-weight: 700;
        }
    h3 {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .tech-window {
        width: 30%;
        display: flex;
        flex: 1;
    }

    .tech-window-header {
        writing-mode: vertical-rl;
        transform: scale(-1);
    }

    .tech-list {
        display: block;
        flex: 1;
        background-color: #BDBEBD;
    }
}