.tech-window-header {
    background-color: var(--shadow-3);
    color: var(--font-color-negative-2);
    padding: 8px 4px;
    span
        {
        color: var(--font-color-negative);
            font-weight: 700;
        }
    h3 {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .window {
        width: 100%;
    }
    .tech-window {
        display: flex;
        flex: 1;
    }

    .tech-window-header {
        writing-mode: vertical-rl;
        transform: scale(-1);
        padding: 8px 12px;
    }

    .tech-list {
        display: block;
        flex: 1;
        background-color: #BDBEBD;
    }
}