@using MyPortfolio.Components;
@using MyPortfolio.Components.Windows;

<PromptWindow Title="Command Prompt" Height=@getStyle()>
	<p style="color: var(--welcome-green); ">//////////////////</p>
	<br />
	<p>Soy</p>
	<h1 style="color:var(--welcome-yellow);">35P10</h1>
	<p>Desarrollador FullStack</p>
	<p>y de Videojuegos</p>
	<br />
	<p style="color: var(--welcome-green); ">//////////////////</p>
	<br />

	<span>C:\Windows\User\35P10 > </span>
	<TextLetterByLetter Text="cat welcome.txt" Speed="80" @ref="typeWriter1" OnComplete="UpdateComponent" Style="color: var(--window-console-font);" />
	<br />

	@if (typeWriter1 != null && typeWriter1.isFinish == true)
	{
		<TextLetterByLetter Text="mensaje de bienvenida:" Style="color: var(--welcome-red);" Speed="80" @ref="typeWriter2" OnComplete="UpdateComponent" />
	}
	@if (typeWriter2 != null && typeWriter2.isFinish == true)
	{
		<TextLetterByLetter Text="¡Gracias por tomarte el tiempo de conocerme! Estoy emocionado por compartir mi trabajo contigo y espero que disfrutes explorando mi portafolio tanto como yo disfruté creándolo. Si tienes alguna pregunta o estás interesado en colaborar en futuros proyectos, no dudes en ponerte en contacto conmigo. ¡Vamos a crear algo increíble juntos!" Speed="80" @ref="typeWriter3" OnComplete="UpdateComponent" Style="color: var(--window-console-font);" />
		<br />
	}
</PromptWindow>


@code {
	private TextLetterByLetter? typeWriter1;
	private TextLetterByLetter? typeWriter2;
	private TextLetterByLetter? typeWriter3;

	[Parameter]
	public EventCallback OnComplete { get; set; }

	public bool isFinish { get; set; } = false;

	private async Task UpdateComponent() { 
		StateHasChanged();
	}

	private async Task UpdateComponentFinish()
	{
		StateHasChanged();
		this.isFinish = true;
		await this.OnComplete.InvokeAsync();
	}

	private String getStyle()
	{
		return "height: auto;";
	}
}
