.window {
    width: 100%;
}
.explorer-window {
    gap: 4px;
    padding: 8px;
    .tab-section {
    }
 
    .window-content {
        padding: 28px 32px;
        position: relative;
        top: -2px;
        display: block;
        box-shadow: 0px -1px 0px 0px #000 inset, -1px 0px 0px 0px #000 inset, 1px 1px 0px 0px #FFF inset, 0px -2px 0px 0px #7B7D7B inset, -2px 0px 0px 0px #7B7D7B inset, 2px 2px 0px 0px #DEDFDE inset, 0px 0px 0px 3px #BDBEBD inset;
    }

}
.explorer-window-tabs {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-size: 10px;
    .group-section, .tab-section {
        overflow-y:auto;
        height: 100px;
        background-color: #FFFFFF;
        flex: 1;
        .explorer-option {
            display: block;
        }
    }
}

.explorer-tab {
    padding: 8px;
}

.explorer-window-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (min-width: 1024px) {
    .window-content-section {
        flex-direction: row;
    }
    .explorer-window-tabs {
        flex-direction: column;
        width: 30%;
    }

    .explorer-window-content {
        width: 70%;
    }
}