.window-content-section {
	color: var(--window-console-font);
	padding: 4px;
	background-color: var(--window-console);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: block;
	flex: 1;
}

.window {
	display: flex;
	flex-direction: column;
}

/*
		para que sea un bloque oscuro, sin estilo de ventana
@media (min-width: 1024px) {
	.window-header {
		display: none;
	}

	.window {
		padding: 48px 128px;
		background-color: var(--window-console);
		border: none;
		box-shadow: none;
	}

	.window-content-section{
		font-size: 24px;
	}
}

@media (min-width: 1440px) {
	.window {
		padding: 64px 256px;
	}
}
*/

@media (min-width: 1024px) {
	.window {
		margin: 24px 64px 0 64px;
		background-color: var(--window-console);
	}

	.window-content-section {
		font-size: 20px;
	}
}

@media (min-width: 1440px) {
	.window {
		margin: 24px 256px 0 256px;
	}
}