.box-shadow, button {
	color: black;
	display: block;
	padding: 3px;
	background-color: #BDBEBD;
	box-shadow: 
		0px -1px 0px 0px #000 inset,
		-1px 0px 0px 0px #000 inset,
		1px 1px 0px 0px #DEDFDE inset, 
		0px -2px 0px 0px #7B7D7B inset,
		-2px 0px 0px 0px #7B7D7B inset,
		2px 2px 0px 0px #FFF inset,
		0px 0px 0px 3px #BDBEBD inset
	;
}

.window {
	display: block;
}


.button-selected {
	z-index: 10;
	padding-bottom: 5px;
}

.button-unselected {
	;
}

.window-content-section {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 6px;
}

.tab-section {
	display: flex;
	align-items: end;
	button
	{
		border-radius: 4px 4px 0 0;
		box-shadow: -1px 0px 0px 0px #000 inset, 1px 1px 0px 0px #FFF inset, -2px 0px 0px 0px #7B7D7B inset, 2px 2px 0px 0px #DEDFDE inset;
	}
}

.window-header {
	padding: 2px;
	display: flex;
	background-color: #BDBEBD;
	flex-direction: row;
	align-items: center;
	background: var(--color-accent, #000179);
	font-size: 12px;
	color: white;
	h3 {
		flex: 1;
		font-weight: 400;
		margin: 0;
	}

	button {
		margin: 0;
		padding: 0;
		width: 16px;
		height: 16px;
		font-weight: 700;
	}
}

.window-content {
	position: relative;
	top: -2px;
	display: block;
	box-shadow: 
		0px -1px 0px 0px #000 inset,
		-1px 0px 0px 0px #000 inset,
		1px 1px 0px 0px #FFF inset,
		0px -2px 0px 0px #7B7D7B inset,
		-2px 0px 0px 0px #7B7D7B inset,
		2px 2px 0px 0px #DEDFDE inset,
		0px 0px 0px 3px #BDBEBD inset;
}