.tab-window {
    padding: 6px;

    .tab-section {
        display: flex;
        align-items: end;
        button
        {
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 4px 4px 0 0;
            box-shadow: -1px 0px 0px 0px var(--shadow-1) inset, 1px 1px 0px 0px var(--shadow-5) inset, -2px 0px 0px 0px var(--shadow-2) inset, 2px 2px 0px 0px var(--shadow-4) inset;
        }
    }

    .window-content {
        padding: 28px 32px;
        position: relative;
        top: -2px;
        display: block;
        box-shadow: 0px -1px 0px 0px var(--shadow-1) inset, -1px 0px 0px 0px var(--shadow-1) inset, 1px 1px 0px 0px var(--shadow-5) inset, 0px -2px 0px 0px var(--shadow-2) inset, -2px 0px 0px 0px var(--shadow-2) inset, 2px 2px 0px 0px var(--shadow-4) inset, 0px 0px 0px 3px var(--background-2) inset;
    }
}


.window-content {
    height: 320px;
}

@media (min-width: 1024px) {
    .aboutme {
        width: 65%;
    }
    .window-content {
        height: 512px;
    }
}