<div class="content">
	<div class="content-content">
		<div class="img" style="background-image:url('@SourceImg')"></div>
		<div class="text">
			<h4>@ProjectTitle</h4>
			<p class="box-shadow">@Description</p>
		</div>
	</div>
	<div class="links">
		@if (SourceCode != "")
		{
			<a class="box-shadow" href="@SourceCode">
				<img src="https://pngimg.com/uploads/github/github_PNG27.png" loading="lazy" alt="source link: github icon">
			</a>
		}
	</div>
</div>


@code {
	[Parameter]
	public String ProjectTitle { get; set; }

	[Parameter]
	public String Description { get; set; }

	[Parameter]
	public String SourceCode { get; set; } = "";

	[Parameter]
	public String SourceImg { get; set; }
}
