<div class="explorer-content">
	<img class="explorer-content-img" src=@SourceImg />
	<h4>
		@ProjectTitle
	</h4>
	<p class="box-shadow">
		@Description
	</p>
	<div class="explorer-content-links">
		@if (SourceCode != "")
		{
			<a class="box-shadow" href="@SourceCode">
				<img src="https://pngimg.com/uploads/github/github_PNG27.png" alt="source link: github icon">
			</a>
		}
	</div>
</div>


@code {
	[Parameter]
	public String ProjectTitle { get; set; }

	[Parameter]
	public String Description { get; set; }

	[Parameter]
	public String SourceCode { get; set; } = "";

	[Parameter]
	public String SourceImg { get; set; }
}
