@using MyPortfolio.Components.Windows.Tab

<div class="tech-group box-shadow">
	<button @onclick="switchShow"><h4 class="window-header"><span>@Title</span>
			@GetButtonClass()
	</h4></button>

	@if (ShowMore == true) 
	{
		@ChildContent
	}
</div>

@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public String Title { get; set; }

	public bool ShowMore = true;

	internal void switchShow() {
		ShowMore = !ShowMore;
	}

	string GetButtonClass()
	{
		return ShowMore == true ? "▲" : "▼";
	}
}
