.tech-group {
    button {
        width: 100%;
        height: 100%;
    }

    .window-header {
        padding: 2px 4px;
        font-size: var(--fontsize-small);
    }

    .window-header span {
        margin-right: auto;
    }
}
