@using MyPortfolio.Components.Buttons;

<div class="menu-item">
<TechIcon Technology=@techIcon />
<p>@Title</p>
</div>

@code {
    [Parameter]
    public string techIcon { get; set; }

    [Parameter]
    public string Title { get; set; }
}
