@using MyPortfolio.Components.Buttons;
@inject IJSRuntime JSRuntime;

<div class="navbar">
	<IconCardComponent ImageUrl="https://win98icons.alexmeub.com/icons/png/msg_information-0.png" Title="About" OnClick=" ()=>
		scrollToSection(sectionAboutMe)" />
	<IconCardComponent ImageUrl="https://win98icons.alexmeub.com/icons/png/defragment-0.png" Title="Project Explorer" OnClick=" ()=>
		scrollToSection(sectionMyProjects)" />
	<IconCardComponent ImageUrl="https://win98icons.alexmeub.com/icons/png/mailbox_world-2.png" Title="Contact" OnClick=" ()=>
		scrollToSection(sectionContactMe)" />
</div>

@code {
	private string sectionAboutMe { get; set; } = "aboutme";
	private string sectionMyProjects { get; set; } = "myprojects";
	private string sectionContactMe { get; set; } = "contactme";

	private async Task scrollToSection(string idSection)
	{
		await JSRuntime.InvokeVoidAsync("scrollToSection", idSection);
	}
}