@using MyPortfolio.Components.Buttons;

<div class="navbar">
<IconCardComponent ImageUrl="https://win98icons.alexmeub.com/icons/png/msg_information-0.png" Title="About" />
<IconCardComponent ImageUrl="https://win98icons.alexmeub.com/icons/png/defragment-0.png" Title="Project Explorer" />
<IconCardComponent ImageUrl="https://win98icons.alexmeub.com/icons/png/mailbox_world-2.png" Title="Contact" />
</div>

